@model IEnumerable<CMSRPPF.Areas.Admin.Models.LicentaDTO>
@{
    ViewBag.Title = "";
}

<br />
<div class="container">
    <div class="licenta">
        @foreach (var item in Model)
        {
            <div class="col-md-12" style="align-content:center">
                <div id="@item.Id" class="row list-group" style="max-width:700px; margin:auto;">

                    <div class=" grid-group-item list-group-item">

                        <h4 class="group inner list-group-item-heading">
                            @Html.DisplayFor(modelItem => item.Title)
                        </h4>
                        <p class="pull-right group inner list-group-item-text">
                            Posted on: @Html.DisplayFor(modelItem => item.Created)
                            <br />
                            @if (item.Edited != null)
                            {
                                <text>Last edited: @Html.DisplayFor(modelItem => item.Edited)</text>
                            }
                            else { }

                        </p>
                        <hr />
                        <p> @Html.Raw(item.Content) </p>



                    </div>
                    <br>

                </div>

                <br />
            </div>

        }
    </div>
</div>